.upper {
  margin-top: 25px;
}

body {
  background: url("../img/Pizza.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.bottom {
  display: none;
}
